.container_box{
	color: white;
	margin: auto;
	width: 600px;
	min-height: 80vh;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
}
#qrcode{
	margin: auto;
}
@media screen and (max-width: 600px){
	.container_box{
		max-width: 95%;
	}
}
