body, html{
	height: 100%;
	font-family: 'Noto Sans TC', sans-serif;
	margin: 0;
	color: #424242;
}
*{
	box-sizing: border-box;
}
.bg-img {
	background-image: url("../img/cover.jpg");
	min-height: 100vh;
	/* Center and scale the image nicely */
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.login{
	color: white;
	position: relative;
	margin: auto;
	max-width: 500px;
	padding: 16px;
	background-color: rgba(0,0,0,0.6);
	border-radius: 10px;
}
.login input[type=text]{
	color: white;
  	width: 100%;
  	padding: 15px;
  	margin: 5px 0 22px 0;
  	border: none;
  	background: rgba(255,255,255,0.1);
}
.login input[type=text]:focus{
	background-color: rgba(255,255,255,0.05);
	outline: none;
}

/* Set a style for the submit button */
.btn {
	background-color: orangered;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
	border-radius: 10px;
}

.btn:hover {
	opacity: 1;
}
.footer {
  	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: rgba(0,0,0,0.6);
  	color: white;
  	text-align: center;
}.footer p{
	margin: 5px 0;
	border: 0;
	padding: 0;
}
.material-icons {
  	font-family: 'Material Icons';
  	font-weight: normal;
  	font-style: normal;
  	font-size: 24px;  /* Preferred icon size */
  	display: inline-block;
  	line-height: 1;
	bottom: 0px;
  	text-transform: none;
  	letter-spacing: normal;
  	word-wrap: normal;
  	white-space: nowrap;
  	direction: ltr;

  /* Support for all WebKit browsers. */
  	-webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  	text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  	-moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  	font-feature-settings: 'liga';
}
@font-face {
  	font-family: 'Material Icons';
  	font-style: normal;
  	font-weight: 400;
  	src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  	src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
@media screen and (max-width: 600px){
	.login{
		max-width: 95%;
	}
	.footer p{
		font-size: 8pt;
	}
}